@charset "utf-8";
/*
   CSA 340 Webpage Development
   Website Project
   
   Video Games Page Style Sheet
   Author: Daniel Kane
   Date: 12-19-23
   
   Filename: videogames_styles.css
*/

/* Structural Styles */

html {
	background-color: black;
}

body {
	height: 100vh;
}

.container {
	font: italic 2.3rem "Bauhaus 93", serif;
	text-align: center;
	width: 100%;
	height: 400px;
	background-position: center;
	background-size: cover;
	background-image: url("videogames_logo.jpg");
	background-attachment: fixed;
	
	display: flex;
	justify-content: center;
	align-items: center;
}

body > p {
	font-size: 1.3em;
	text-align: center;
}

.v-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 50px;
}

.h-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 150px;
	padding: 20px;
	text-align: center;
	font-size: 1.3em;
	background-color: hsl(120, 100%, 5%);
}


/* Section Styles */

section.videogames > h1 {
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	font-size: 2.3em;
	width: 100%;
	height: auto;
	text-align: center;
	background-color: hsla(120, 100%, 50%, 0.4);
}

/* Navigation Styles */

nav {
	display: table;
	width: 100%;
}

nav > ul {
	display: table-row;
}

nav > ul > li {
	display: table-cell;
	text-align: center;
}

nav > ul > li > a {
	display: block;
	font: "Times New Roman", Times, serif;
	font-size: 1.3em;
	padding-top: 10px;
	padding-bottom: 10px;
}

nav > ul > li > a:link, nav > ul > li > a:visited {
	text-decoration: none;
	background-color: hsla(0, 0%, 42%, 0.4);
}

nav > ul > li > a:hover, nav > ul > li > a:active {
	color: hsla(0, 0%, 100%, 0.7);
	text-decoration: underline; 
	background-color: hsla(0, 0%, 42%, 0.7);
}

/* Footer Styles */

footer > h1 {
	text-align: center;
}

/* Wide-Use Color Style */

.container, body > p, .h-container, section.videogames > h1, nav > ul > li > a:link, nav > ul > li > a:visited, footer > h1 {
	color: hsl(120, 100%, 50%);
}